<h1>Съществителни</h1>

<div class='container'>
	<div class='declination'>
		<h3>First declention</h3>
			<p>Summary</p>
			<p>First declension nouns are primarily feminine nouns but there are also several masculine nouns with an initial (dictionary, nominative) form ending in -а, -я. For example:</p>
			<table>
			  <tr>
			    <th>Именительный</th>
			  </tr>
			  <tr>
			    <th>Родительный</th>
			  </tr>
			  <tr>
			    <th>Дательный</th>
			  </tr>
			  <tr>
			    <th>Винительный</th>
			  </tr>
			  <tr>
			    <th>Творительный</th>
			  </tr>
			  <tr>
			    <th>Предложный</th>
			  </tr>
			</table>
		
			
	</div>
	<div class='declination'>
		<h3>Second declention</h3>
			<p>Summary</p>
			<p>Second declension nouns are masculine nouns with a zero ending in the initial form (стол, олень, гербарий) and neuter nouns ending in -o, e (небo, полe, поведениe).

			Second declension nouns in the prepositional case end in -e (об оленe, о небe, о полe). Masculine nouns with an initial form ending in -ий and neuter nouns ending in -ие get the ending -и in the prepositional case.</p>
	</div>
	<div class='declination'>
		<h3>Second declention</h3>
			<p>Summary</p>

		<p>Third declension nouns are feminine nouns with a zero ending in the initial form (дочь, сирень, тишь). Third declension singular nouns in the genitive, dative and prepositional cases end in -и (у сирени, к сирени, о сирени).</p>
	</div>

</div>





<table id="tablepress-6" class="tablepress tablepress-id-6">
	<thead>
		<tr class="row-1 odd">
			<th class="column-1"><strong>ПАДЕЖ</strong></th>
			<th class="column-2"><strong>ВОПРОС</strong></th>
			<th class="column-3"><strong>ПРЕДЛОГИ</strong></th>
		</tr>
	</thead>
	<tbody class="row-hover">
		<tr class="row-2 even">
			<td class="column-1">Именительный<br /> (есть)</td>
			<td class="column-2">кто? что?</td>
			<td class="column-3">-</td>
		</tr>
		<tr class="row-3 odd">
			<td class="column-1">Родительный<br /> (нет)</td>
			<td class="column-2">кого? чего?</td>
			<td class="column-3">с, у, от, до, из, без, для, вокруг, около, возле, кроме</td>
		</tr>
		<tr class="row-4 even">
			<td class="column-1">Дательный<br /> (дать)</td>
			<td class="column-2">кому? чему?</td>
			<td class="column-3">к, по, благодаря, вопреки, согласно</td>
		</tr>
		<tr class="row-5 odd">
			<td class="column-1">Винительный<br /> (вижу)</td>
			<td class="column-2">кого? что?</td>
			<td class="column-3">под, за, про, через, в, на, во</td>
		</tr>
		<tr class="row-6 even">
			<td class="column-1">Творительный<br /> (доволен)</td>
			<td class="column-2">кем? чем?</td>
			<td class="column-3">с, со, за, над, под, между, перед</td>
		</tr>
		<tr class="row-7 odd">
			<td class="column-1">Предложный<br /> (думать)</td>
			<td class="column-2">о ком? о чем?</td>
			<td class="column-3">в, о, об, на, при, по</td>
		</tr>
	</tbody>
</table>















