<h1>Съществителни</h1>

<div class='container'>
	<div class='declination'>
		<h3>First declention</h3>
			<p>Summary</p>
			<p>First declension nouns are primarily feminine nouns but there are also several masculine nouns with an initial (dictionary, nominative) form ending in -а, -я. For example:</p>
			<table>
				<tr class='table-row'>
					<th>Именительный</th>
					<td><span style='font-size:10px'>аяия</span></td>
					<td>трава</td>
					<td>земля</td>
					<td>юноша</td>
					<td>химия</td>
					<td>Валерия</td>
				</tr>
				<tr>
					<th>Родительный</th>
				</tr>
				<tr>
					<th>Дательный</th>
				</tr>
				<tr>
					<th>Винительный</th>
				</tr>
				<tr>
					<th>Творительный</th>
				</tr>
				<tr>
					<th>Предложный</th>	
				</tr>

			</table>
	</div>
	<div class='declination'></div>
	<div class='declination'></div>

</div>