<!DOCTYPE html>
<html>
  <head>
    <title>Russian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class='navbar'>
  	<ul>
  		<li>Съществителни</li>
  		<li>Глаголи</li>
  		<li>Прилагателни</li>
  		<li>Думи</li>
  		<li>Изрази</li>


  	</ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
