<!DOCTYPE html>
<html>
  <head>
    <title>Russian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class='navbar'>
  	<ul class='left-float'>
      <li><a href='/'>Home</a></li>
  		<li><a href='/noun'> Съществителни</a></li>
  		<li><a href='/verbs'>Глаголи</a></li>
  		<li><a href='/adjectives'>Прилагателни</a></li>
  		<li><a href='/words'>Думи</a></li>
  		<li><a href='expressions'>Изрази</a></li>


  	</ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
